<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <!-- Animate.css -->
        <link rel="stylesheet" href={%static "css/animate.css" %}>
    
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href={%static "css/icomoon.css" %}>
        <!-- Themify Icons-->
        <link rel="stylesheet" href={%static "css/themify-icons.css" %}>
        <!-- Bootstrap  -->
        <link rel="stylesheet" href={%static "css/bootstrap.css" %}>
    
        <!-- Magnific Popup -->
        <link rel="stylesheet" href={%static "css/magnific-popup.css" %}>
    
        <!-- Owl Carousel  -->
        <link rel="stylesheet" href={%static "css/owl.carousel.min.css" %}>
        <link rel="stylesheet" href={%static "css/owl.theme.default.min.css" %}>
    
        <!-- Theme style  -->
        <link rel="stylesheet" href={%static "css/style.css" %}>
        <link rel="stylesheet" href={%static "css/style2.css" %}>
    
        <!-- Theme style  -->
        <link rel="stylesheet" href={%static "css/style_user.css" %}>
    
        <!-- Modernizr JS -->
        <script src={%static "js/modernizr-2.6.2.min.js" %}></script>
        <!-- FOR IE9 below -->
        <!--[if lt IE 9]>
        <script src={%static "js/respond.min.js" %}></script>
        <![endif]-->
    </head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">
				
				<div class="row">
					<div class="col-sm-2 col-xs-12">
						<div id="gtco-logo"><a href="/"><img src={%static "images/logo.png" %} alt="SurroundAI"></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="active"><a href="#">Examples</a></li>
							
							<li><a href="#">About Us</a></li>
							
						</ul>
					</div>
				</div>
				
			</div>
		</nav>

		<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
									<div class="col-md-8 animate-box">
										<h1 class="no-margin">Example related to AI Literacy Tools</h1>
										<p>Here you will get to learn about some AI concepts using examples based on Machine learning and deep learning..</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </header>
        
    </div>
    <!--boxes-->			
    <div class="gtco-section gtco-products" >
        <div class="gtco-container">
            <div class="row row-pb-sm">
                <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                    <h2>Some AI Examples</h2>
                    <p>So here we are using some AI based examples which will make easier for childrens to learn about it.</p>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-4 col-sm-4">
                    <a href="age_gender/" class="gtco-item two-row bg-img animate-box" style="background-image: url(/static/images/e1_cover_image.jpg)">
                        <div class="overlay">
                            <i class="ti-arrow-top-right"></i>
                            <div class="copy">
                                <h3>Example 1</h3>
                                <p>Age and Gender detection.</p>
                            </div>
                        </div>
                        
                    </a>
                    
                </div>

                <div class="col-md-4 col-sm-4">
                    <a href="#" class="gtco-item two-row bg-img animate-box" style="background-image: url(/static/images/e2_cover_image.jpg)">
                        <div class="overlay">
                            <i class="ti-arrow-top-right"></i>
                            <div class="copy">
                                <h3>Example 2</h3>
                                <p>Here is the example of Data visualization..</p>
                            </div>
                        </div>
                    
                    </a>
                    
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="#" class="gtco-item two-row bg-img animate-box" style="background-image: url(/static/images/e3_cover_image.jpg)">
                        <div class="overlay">
                            <i class="ti-arrow-top-right"></i>
                            <div class="copy">
                                <h3>Example 3</h3>
                                <p>Here is the example 3.</p>
                            </div>
                        </div>
                        
                    </a>
                    
                </div>
            </div>
           
        </div>
    </div>
    <!-- END -->

	<!-- jQuery -->
	<script src={%static "js/jquery.min.js" %}></script>
	<!-- jQuery Easing -->
	<script src={%static "js/jquery.easing.1.3.js" %}></script>
	<!-- Bootstrap -->
	<script src={%static "js/bootstrap.min.js" %}></script>
	<!-- Waypoints -->
	<script src={%static "js/jquery.waypoints.min.js" %}></script>
	<!-- Carousel -->
	<script src={%static "js/owl.carousel.min.js" %}></script>
	<!-- Magnific Popup -->
	<script src={%static "js/jquery.magnific-popup.min.js" %}></script>
	<script src={%static "js/magnific-popup-options.js" %}></script>
	<!-- Main -->
	<script src={%static "js/main.js" %}></script>
	<script src={%static "js/main2.js" %}></script>
	<script src={%static "js/user_main.js" %}></script>
	<script src={%static "js/jquery.stellar.min.js" %}></script>
	<!-- Easy PieChart -->
	<script src={%static "js/jquery.easypiechart.min.js" %}></script>
	</body>
</html>
